body
{
	margin: 0px 0 auto;
	padding: 0 auto;
	background-color: rgb(255,255,204);
	min-width: 1280px;
	max-width: 1500px;
}

#content
{
	text-align: center;
}

#main
{
	display: inline-block;
	text-align: left;
	width: 60%;
	margin-bottom: 20px;
	padding: 5px;
	border: solid 3px rgb(0,34,51);
	border-radius: 0px 0px 10px 10px;
	background-color: white;
}

h1
{
	font-size: 60px;
	height: 30px;
	margin-top: -15px;
	text-decoration: underline;
	font-weight: Bold;
	font-family: Calibri;
	color: white;
}

#t
{
	display: inline-block;
	text-align: left;
	width: 60%;
	padding: 0px 5px 10px 5px;
	margin-top: 10px;
	margin-bottom: -10px;
	border: solid 3px rgb(0,34,51);
	border-radius: 10px 10px 0px 0px;
	background-color: rgb(200,0,0);
	text-align: center;
	font-weight: Bold;
	font-family: Calibri;
	font-size: 60px;
	color: white;
	text-decoration: underline;
}

#warning
{
	text-align: center;
	font-style: SuperBold;
	font-size: 25px;
	text-decoration: underline;
}

h2
{
	margin-left: -5px;
	width: 100%;
	background-color: rgb(0,34,51);
	padding: 10px 0px 10px 10px;
	color: gold;
	text-align: center;
	font-weight: Bold;
}

.img
{
	height: 150px;
	width: 200px;
	float: left;
}

.question
{
	font-weight: Bold;
}

.une_question
{
	display: inline-block;
	width: 100%;
}

#departed
{
	float: right;
	margin-right: 50px;
	height: 150px;
	width: 250px;
}

#kundun
{
	float: right;
	margin-right: 250px;
	height: 200px;
	width: 150px;
}

#button
{
	margin-top: 20px;
	
}

.engras
{
	font-weight: Bold;
	color: red;
}

#results
{
	text-align: center;
	font-weight: Bold;
	font-size: 30px;
	margin-bottom: 20px;
}